.paginationControls {
  display: flex;
  justify-content: center;
}

.paginationControl {
  width: 5rem;
  padding: 0.25rem 0;
  margin: 0 1rem;
  border: 1px solid #3b0062;
  background: transparent;
  cursor: pointer;
  font-size: 1rem;
  color: #3b0062;
}

.paginationControl:hover,
.paginationControl:active {
  color: #fab83f;
  border-color: #fab83f;
}

.paginationControl:focus {
  outline: none;
}
